/* Fill CSS here */
div{
    display: flex;
    justify-content: space-around;
}
form{
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    padding: 30px;
}
label{
    font-size: 30px;
} 
table{
    border-collapse: collapse;
    width: 60%;
    margin:auto;
    margin-top: 50px;
    text-align: center;
}
table td,
table th {
    border: 1px solid red;
    padding:8px;
    text-align: center;
}
table tr:nth-child(even){
    background-color: pink;
}
table tr:hover{
 background-color: #ddd;

}

table th{
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d49ff3;
    color: white;
    text-align: center;
}
*{
    box-sizing: border-box;
}
input[type="submit"]{
    background-color: rgb(245, 231, 110);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
input[type="submit"]:hover{
 background-color: blue;
}
h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    color: bisque;
}