#navbar{
    display: flex;
    gap: 40px;
    background-color: aqua;
    justify-content: space-around;
    width: 100%;
    
}
#navbar a{
    text-decoration: none;
    font-size: 30px;
   
 
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
