* {
    margin: 0px;
    padding: 0px;
  }
  .headings{
    text-align: center;
  }
  .services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);
    border: 1px solid red;
    gap: 20px;
    width: 80%;
    margin: auto;
  }
  .services>div{
    border: 1px solid black;
    display: flex;
  }
  body {
    background-color: rgb(244, 244, 244);
  }
  /* Medium screens */
  @media all and (min-width: 651px) and (max-width: 900px) {
  }
  /* Small screens */
  @media all and (min-width: 250px) and (max-width: 650px) {
  }